<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6CgowUf06NC9ZjAr0N2hE8wB77fgUwCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>494091059615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlySpaces.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>friendly-spaces</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-spaces.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494091059615:ios:07f4df9e06ebc629e1fdaa</string>
</dict>
</plist>